[Unit]
Description=rfkill block bluetooth

[Service]
Type=oneshot
ExecStart=/usr/bin/rfkill block 0
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
